{{ define "main" }}

<!-- notice -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <ul class="list-unstyled">

          <!-- notice item -->
          {{ range .Data.Pages }}

          <li class="row g-0 mb-4 hover-shadow align-items-center">

            <!-- Title and Description -->
            <div class="col-12 col-md-9 p-4">
              <a href="{{ .Permalink }}" class="h4 mb-3 d-block">{{ .Title }}</a>
              <p class="mb-0">{{ .Description }}</p>
            </div>

            <!-- Download Button and File Type Icon -->
            <div class="col-12 col-md-3 text-center p-4">
              <a href="{{ .Permalink }}" class="btn btn-primary btn-lg w-100 d-flex align-items-center justify-content-center">
                Details
              </a>
            </div>
          </li>

          {{ end }}
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- /notice -->

{{ end }}
