<!-- footer -->
<footer>
  <!-- Support Callout Section -->
  <div class="newsletter">
    <div class="container">
      <div class="row">
        <div class="col-md-9 ml-auto bg-primary py-5 newsletter-block">
          <h3 class="text-white mb-4">Support Boycott Beacon's Development</h3>
          <p class="text-white mb-4">
            Help keep Boycott Beacon free, private, and up-to-date. Your support directly funds development time and maintenance. Thank you!
          </p>
          <!-- Link to your actual support/donate page -->
          <a href="{{ "/support/" | relLangURL }}" class="btn btn-light btn-lg">Support Us</a> {{/* <<< Already points to /support/, Good! */}}
        </div>
      </div>
    </div>
  </div>

  <!-- Footer Content -->
  <div class="footer bg-footer section border-bottom">
    <div class="container">
      <div class="row">
        <!-- Logo & Core Links -->
        <div class="col-lg-4 col-md-6 col-sm-6 mb-5 mb-lg-0">
          <a class="logo-footer d-inline-block mb-4" href="{{ site.BaseURL | relLangURL }}">
            <img src="/logo.png" alt="{{ site.Title }}" class="img-fluid">
          </a>
          <ul class="list-unstyled">
            {{ with site.Params.email }}<li class="mb-3"><i class="ti-email mr-2"></i> {{ . }}</li>{{ end }}
            {{ with site.Params.chrome_web_store_link }}<li class="mb-3"><i class="ti-shopping-cart mr-2"></i> <a href="{{ . }}" target="_blank" rel="noopener noreferrer" class="text-color">Chrome Web Store</a></li>{{ end }}
            {{ with site.Params.github_repo }}<li class="mb-3"><i class="ti-github mr-2"></i> <a href="{{ . }}" target="_blank" rel="noopener noreferrer" class="text-color">GitHub Repository</a></li>{{ end }}
          </ul>
        </div>

        <!-- Quick Links (Menu) -->
        <div class="col-lg-2 col-md-3 col-sm-6 col-6 mb-5 mb-lg-0">
          <h4 class="text-white mb-4 text-uppercase">Links</h4>
          <ul class="list-unstyled">
            {{ range site.Menus.main }}
            <li class="mb-3"><a class="text-color" href="{{ .URL | relLangURL }}">{{ .Name }}</a></li>
            {{ end }}
          </ul>
        </div>


        <!-- Legal Links -->
        <div class="col-lg-3 col-md-12 col-sm-6 text-sm-left text-lg-left">
          <h4 class="text-white mb-4 text-uppercase">Legal</h4>
          <ul class="list-unstyled">
            <li class="mb-3"><a href="{{ "/privacy/" | relLangURL }}" class="text-color">Privacy Policy</a></li>
            <li class="mb-3"><a href="{{ "/terms/" | relLangURL }}" class="text-color">Terms of Service</a></li>
          </ul>
        </div>

      </div>
    </div>
  </div>

  <!-- Copyright -->
  <div class="copyright py-4 bg-primary text-light">
    <div class="container">
      <div class="row">
        <div class="col-md-7 text-md-left text-center">
          <p class="mb-3 mb-md-0">{{ site.Params.copyright | markdownify }}</p>
        </div>
        <div class="col-md-5 text-md-right text-center">
          <ul class="list-inline">
            {{ range site.Params.social }}
            <li class="list-inline-item"><a class="d-inline-block p-2" href="{{ .link | safeURL }}" target="_blank" rel="noopener noreferrer" aria-label="{{ .name }}"><i class="{{ .icon }} text-primary"></i></a></li>
            {{ end }}
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- /footer -->

{{ "<!-- JS Plugins -->" | safeHTML }}
{{/* Ensure js.cookie.min.js is configured in config.toml if site.Params.cookies.enable is true */}}
{{ if site.Params.cookies.enable }}
{{/* This assumes you add the CDN link or local path to config.toml like other plugins */}}
{{/* Example entry in config.toml:
[[params.plugins.js]]
link = "https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.min.js"
# Or link = "plugins/js-cookie/js.cookie.min.js" if stored locally
*/}}
{{ end }}
{{ range site.Params.plugins.js }}
<script src="{{ .link | absURL }}"></script>
{{ end }}


{{ "<!-- Main Script -->" | safeHTML }}
{{ $script := resources.Get "js/script.js" | minify }}
<script src="{{ $script.Permalink }}"></script>

<!-- Cookie Consent HTML (Only if enabled) -->
{{ if site.Params.cookies.enable }}
<div id="js-cookie-box"
     class="cookie-box cookie-box-hide"
     data-expire-days="{{ site.Params.cookies.expire_days | default 30 }}"> {{/* Data attribute */}}
  This site uses cookies to improve user experience. By continuing to use this website, you agree to their use.
  <span id="js-cookie-button" class="btn btn-sm btn-outline-primary ml-2">I Accept</span>
</div>
{{ end }}
